<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOMEPAGE</title>
</head>
<body>
    <form action="/login" method="post">
        <input type="text" name="nomeUtente" placeholder="Username" />
        <input type="text" name="parolaSicurezza" placeholder="Password" />
        <input type="submit" value="Login" />
    </form>

    <div th:if="${loginSbagliato}" >
        <h2 style="color: red">SIGNORINO HA SBAGLIATO LE CREDENZIALI,MI FACCIA IL FAVORE DI INSERIRE QUELLE CORRETTE</h2>
    </div>

</body>
</html>